apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: demo-app
  namespace: demo-app
spec:
  source:
    type: Binary
    binary: {}
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: demo-app:latest
      namespace: demo-app
  triggers: []

